
.ipynb_checkpoints/NYC_CitiBike_Challenge-checkpoint.ipynb
Data/201908-citibike-tripdata-modified.csv
Data/201908-citibike-tripdata.csv
NYC CitiBike Module Workbook2.twbx
NYC_Citibike_Challenge.twbx
